@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Square+Peg&display=swap');
/*-family: 'Poppins', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ms Madi', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('images/meowcha.jpg');
    background-size: cover; /* Adjust background size as needed */
    background-position: center; /* Adjust background position as needed */
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.card {
    width: 280px;
    height: 280px; /* Lowered height value */
    top: 100px; /* Adjust as needed */
    background: #573707;
    display: flex;
    align-items: center; /* Updated align-items property */
    padding: 2rem 1rem;
    position: relative;
    transition: 0.5s all ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(141, 69, 21, 0.3), rgb(200, 139, 48));
    z-index: 2;
    opacity: 0;
    transition: 0.5s all;
}

.card:hover::before {
    opacity: 1;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info {
    position: relative;
    color: #fff;
    z-index: 3;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0);
}

.card .info h1 {
    line-height: 40px;
    margin-bottom: 10px;
}

.card .info p {
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.card .info .btn {
    background: #f9ff87;
    padding: 0.5rem 1rem;
    color: #000;
    font-size: 12px;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: .4s ease-in-out;
}

.card .info .btn:hover {
    background: #fc5185;
    color: #fff;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
}

.menu-preview {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.menu-preview .preview {
    display: none;
    padding: 0.5rem;
    text-align: center;
    position: relative;
    width: 40%;
    background: #fff;
}

.menu-preview .preview img {
    width: 100%;
}

.menu-preview .preview.active {
    display: inline-block;
}

.menu-preview .preview h3 {
    font-size: 2rem;
    color: #333;
}

.menu-preview .preview .stars {
    color: rgb(49, 161, 94);
    font-size: 1.2rem;
}

.menu-preview .preview .stars li {
    margin: 0 1rem;
}

.menu-preview .preview p {
    font-size: 1.8rem;
    color: #333;
}

.menu-preview .preview a {
    display: inline-block;
    width: 10rem;
    height: 2.6rem;
    background: gold;
    color: honeydew;
    font-size: 1.5rem;
    border: 0.1rem solid gold;
    border-radius: 0.5rem;
}

.menu-preview .preview a:hover {
    background: none;
    color: #333;
}

.menu-preview .preview .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}

.menu-preview .preview .fa-times:hover {
    transform: rotate(180deg);
    color: gold;
}

/* Walking Cat Animation */
.walking-cat-footer img {
    animation: catWalk 12s linear infinite;
}
